:root {
	--green-bg: #0a775f;
	--black-color: #000000;
	--text-color: #333333;
	--white-color: #ffffff;
	--gold-bg: #f3d7b7;
	--darkgold-bg: #c99b67;
	--light-bg: #f8f8f2;
}

/* FONTS */
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:focus {
	outline: 2px dotted var(--green-bg);
	outline-offset: 3px;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Roboto' sans-serif;
	font-weight: 400;
	color: var(--text-color);
	line-height: 1.55;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1380px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	padding: 16px 24px;
	border: none;
	cursor: pointer;
	border-radius: 100px;
	background-color: var(--green-bg);
	color: var(--white-color);
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	transition: opacity 0.4s ease;
}

.btn:hover {
	opacity: 0.8;
}

.bnt:active {
	opacity: 0.6;
}

.main-content {
	flex-grow: 1;
}

.site-header-wrapper {
	padding-top: 40px;
	background-color: var(--gold-bg);
}

.site-header {
	margin-bottom: 40px;
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-logo {
	width: 235px;
	height: 24px;
	display: inline-block;
	transition: opacity 0.4s ease;
}

.site-logo:hover {
	opacity: 0.8;
}

.site-logo:active {
	opacity: 0.6;
}

.site-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.site-nav__item:not(:last-child) {
	margin-right: 40px;
}

.site-nav__link {
	text-transform: uppercase;
	color: var(--text-color);
	text-decoration: none;
	transition: all 0.4s ease;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1.2;
	font-weight: 700;
}

.site-nav__link:hover {
	color: var(--green-bg);
}

.site-nav__link:active {
	opacity: 0.6;
}

/* HERO START */

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__info {
	max-width: 464px;
	width: 100%;
}

.hero__title {
	font-weight: 700;
	font-size: 64px;
	margin-top: 0;
	margin-bottom: 24px;
	line-height: 1.2;
	color: var(--black-color);
}

.hero__text {
	margin-top: 0;
	margin-bottom: 34px;
	font-size: 16px;
}

.hero__img-wrapper {
	position: relative;
	align-self: self-end;
	width: 710px;
	height: 696px;
}

.hero__img {
	width: 710px;
	height: 696px;
	object-fit: cover;
}

.hero__img-logo {
	top: -80px;
	left: -80px;
	position: absolute;
}
/* HERO END */
