:root {
	--green-bg: #0a775f;
	--black-color: #000000;
	--text-color: #333333;
	--white-color: #ffffff;
	--gold-bg: #f3d7b7;
	--darkgold-bg: #c99b67;
	--light-bg: #f8f8f2;
}

/* FONTS */
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:focus {
	outline: 2px dotted var(--green-bg);
	outline-offset: 3px;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Roboto' sans-serif;
	font-weight: 400;
	color: var(--text-color);
	line-height: 1.55;
	font-size: 18px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.container {
	max-width: 1380px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	padding: 16px 24px;
	border: none;
	cursor: pointer;
	border-radius: 100px;
	background-color: var(--green-bg);
	color: var(--white-color);
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	transition: opacity 0.4s ease;
}

.btn:hover {
	opacity: 0.8;
}

.bnt:active {
	opacity: 0.6;
}

.main-content {
	flex-grow: 1;
	padding-top: 20px;
	padding-bottom: 50px;
}

.site-header-wrapper {
	padding-top: 40px;
	background-color: var(--gold-bg);
}

.site-header {
	margin-bottom: 40px;
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-logo {
	width: 235px;
	height: 24px;
	display: inline-block;
	transition: opacity 0.4s ease;
}

.site-logo:hover {
	opacity: 0.8;
}

.site-logo:active {
	opacity: 0.6;
}

.site-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.site-nav__item:not(:last-child) {
	margin-right: 40px;
}

.site-nav__link {
	text-transform: uppercase;
	color: var(--text-color);
	text-decoration: none;
	transition: all 0.4s ease;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1.2;
	font-weight: 700;
}

.site-nav__link:hover {
	color: var(--green-bg);
}

.site-nav__link:active {
	opacity: 0.6;
}

/* HERO START */

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__info {
	max-width: 464px;
	width: 100%;
}

.hero__title {
	font-weight: 700;
	font-size: 64px;
	margin-top: 0;
	margin-bottom: 24px;
	line-height: 1.2;
	color: var(--black-color);
}

.hero__text {
	margin-top: 0;
	margin-bottom: 34px;
	font-size: 16px;
}

.hero__img-wrapper {
	position: relative;
	align-self: self-end;
	width: 710px;
	height: 696px;
}

.hero__img {
	width: 710px;
	height: 696px;
	object-fit: cover;
}

.hero__img-logo {
	top: -80px;
	left: -80px;
	position: absolute;
}
/* HERO END */

/* OUR-COLLECTION */

.our-collection {
	background-image: url(../img/our-collection-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: var(--light-bg);
	padding-top: 50px;
	padding-bottom: 50px;
}

.our-collection__container {
	position: relative;
}

.our-collection__img {
	position: absolute;
	top: 0;
	left: -201px;
}

.our-collection__img2 {
	position: absolute;
	top: 685px;
	right: -191px;
	z-index: 2;
}

.our-collection__img3 {
	position: absolute;
	top: 831px;
	right: -125px;
	z-index: 1;
}

.our-collection__img4 {
	position: absolute;
	bottom: 170px;
	left: -158px;
}

.our-collection__title {
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 50px;
	line-height: 1.2;
	color: var(--black-color);
	margin-bottom: 80px;
}

.our-collection__list {
	margin: 0;
	padding: 0;
}

.our-collection__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1114px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.our-collection__item:not(:last-child) {
	margin-bottom: 20px;
}

.our-collection__item:nth-child(2n) {
	flex-direction: row-reverse;
}

.our-collection__item-info {
	max-width: 453px;
	width: 100%;
}

.our-collection__item-info__title {
	font-weight: 500;
	font-size: 48px;
	line-height: 1.1;
}

/* INDEX_COLLECTION */
.index-colaction {
	margin-bottom: 289px;
}

.index-colaction__inner {
	padding-top: 50px;
	position: relative;
	background-color: var(--darkgold-bg);
	background-image: url(../img/index-collaction-backraund.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto auto;
	padding-bottom: 420px;
	max-width: 1400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.index-colaction__info {
	max-width: 581px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.index-colaction__info-title {
	color: var(--light-bg);
	font-weight: 700;
	font-size: 50px;
	line-height: 1.1;
	text-align: center;
}

.index-colaction__info-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	text-align: center;
}

.index-colaction__list {
	list-style: none;
	position: absolute;
	display: flex;
	justify-content: space-between;
	margin-left: -10px;
}

.index-colaction__item-img {
	position: absolute;
	left: -20px;
	top: -50px;
}

.index-colaction__item {
	max-width: 433px;
	width: 100%;
}

.index-colaction__item:not(:last-child) {
	margin-right: 20px;
}

.index-colaction_img {
	width: 433px;
	height: 500px;
	top: 2862px;
	left: 50px;
	gap: 0px;
	opacity: 0px;
}

.index-colaction__item-title {
	font-size: 30px;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 28px;
	margin-bottom: 10px;
}

.index-colaction__item-text {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 0;
}
